In [1]:
# import pandas, nltk, and vader
import nltk
import pandas as pd
import os
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [2]:
# load tweets into a dataframe
df = pd.read_json(os.path.join('condensed_2018.json'))

In [3]:
df

,source,id_str,text,created_at,retweet_count,in_reply_to_user_id_str,favorite_count,is_retweet
0,Twitter for iPhone,1079888205351145472,HAPPY NEW YEAR! https://t.co/bHoPDPQ7G6,2018-12-31 23:53:06+00:00,33548,NaN,136012,False
1,Twitter for iPhone,1079830268708556800,"....Senator Schumer, more than a year longer t...",2018-12-31 20:02:52+00:00,17456,25073877.0,65069,False
2,Twitter for iPhone,1079830267274108928,Heads of countries are calling wanting to know...,2018-12-31 20:02:52+00:00,21030,NaN,76721,False
3,Twitter for iPhone,1079763923845419008,It’s incredible how Democrats can all use thei...,2018-12-31 15:39:15+00:00,29610,NaN,127485,False
4,Twitter for iPhone,1079763419908243456,"I’m in the Oval Office. Democrats, come back f...",2018-12-31 15:37:14+00:00,30957,NaN,132439,False
...,...,...,...,...,...,...,...,...
3505,Twitter for iPhone,950946293077209088,".@ICEgov HSI agents and ERO officers, on behal...",2018-01-10 04:23:58+00:00,13822,NaN,60252,False
3506,Twitter for iPhone,950937350003183616,Thank you @GOPLeader Kevin McCarthy! Couldn’t ...,2018-01-10 03:48:26+00:00,11893,NaN,51951,False
3507,Twitter for iPhone,950884128379035648,"As I made very clear today, our country needs ...",2018-01-10 00:16:57+00:00,24552,NaN,123413,False
3508,Twitter for iPhone,950879772644659200,"RT @Scavino45: “Utilities cutting rates, cite ...",2018-01-09 23:59:38+00:00,11716,NaN,0,True
3509,Twitter for iPhone,950866561153331200,"Today, it was my great honor to sign a new Exe...",2018-01-09 23:07:09+00:00,19481,NaN,82151,False

In [4]:
# drop retweets
dfRt = df[~df.text.str.startswith('RT')]

In [5]:
dfRt

,source,id_str,text,created_at,retweet_count,in_reply_to_user_id_str,favorite_count,is_retweet
0,Twitter for iPhone,1079888205351145472,HAPPY NEW YEAR! https://t.co/bHoPDPQ7G6,2018-12-31 23:53:06+00:00,33548,NaN,136012,False
1,Twitter for iPhone,1079830268708556800,"....Senator Schumer, more than a year longer t...",2018-12-31 20:02:52+00:00,17456,25073877.0,65069,False
2,Twitter for iPhone,1079830267274108928,Heads of countries are calling wanting to know...,2018-12-31 20:02:52+00:00,21030,NaN,76721,False
3,Twitter for iPhone,1079763923845419008,It’s incredible how Democrats can all use thei...,2018-12-31 15:39:15+00:00,29610,NaN,127485,False
4,Twitter for iPhone,1079763419908243456,"I’m in the Oval Office. Democrats, come back f...",2018-12-31 15:37:14+00:00,30957,NaN,132439,False
...,...,...,...,...,...,...,...,...
3504,Twitter for iPhone,951094078661414912,It just shows everyone how broken and unfair o...,2018-01-10 14:11:13+00:00,26665,NaN,108152,False
3505,Twitter for iPhone,950946293077209088,".@ICEgov HSI agents and ERO officers, on behal...",2018-01-10 04:23:58+00:00,13822,NaN,60252,False
3506,Twitter for iPhone,950937350003183616,Thank you @GOPLeader Kevin McCarthy! Couldn’t ...,2018-01-10 03:48:26+00:00,11893,NaN,51951,False
3507,Twitter for iPhone,950884128379035648,"As I made very clear today, our country needs ...",2018-01-10 00:16:57+00:00,24552,NaN,123413,False
3509,Twitter for iPhone,950866561153331200,"Today, it was my great honor to sign a new Exe...",2018-01-09 23:07:09+00:00,19481,NaN,82151,False

In [6]:
# setting text column to a varible
sentences = dfRt["text"]

In [7]:
type(sentences)

pandas.core.series.Series

In [8]:
# Needed to change type from series to string in order to tokenize the tweets
# I had to import missing items in my nlkt package - you may not have to do this but in case I left it
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/Ed/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [9]:
sentences = sentences.to_string()

In [10]:
# tokenize text column
from nltk import tokenize
sentences = tokenize.sent_tokenize(sentences)

In [11]:
# I had to import missing items in my nlkt package - you may not have to do this but in case I left it
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/Ed/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [12]:
sid = SentimentIntensityAnalyzer()

In [15]:
dfRT
# result = [] 
# for value in df["Marks"]: 
#     if value >= 33: 
#         result.append("Pass") 
#     elif value < 0 and value > 100: 
#         result.append("Invalid") 
#     else: 
#         result.append("Fail") 
       
# df["Result"] = result    
# print(k[0]) 
# df['tCompScores'] = df['dfRt'].map(ss.get("compound"))

NameError: name 'dfRT' is not defined

In [21]:
vScore = []
for sentence in sentences:
#     print(sentence)
    ss = sid.polarity_scores(sentence)
    tCompScores['sentimentScores'] = dfRt['id_str'].map(ss.get('compound'))
    tCompScores.head()
#     print (ss.get("compound"))
#     how is k working here? How does this format in this manner?
#     for k in sorted(ss):
#         print('{0}: {1}, '.format(k, ss[k]), end='')
    print (type(dfRt['id_srt']))

TypeError: 'float' object is not callable